.modalBackground {
	height: 100vh;
	width: 100vw;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	background-color: rgba(10, 10, 10, 0.4);
}
.modalContainer {
	/* min-height: 50%; */
	width: 50%;
	border-radius: 12px;
	/* background-color: rgba(255, 255, 255, 0.6); */
	background-image: linear-gradient(
		315deg,
		rgba(116, 235, 213, 0.6) 0%,
		rgba(159, 172, 230, 0.8) 100%
	);
	display: flex;
	flex-direction: column;
	padding: 2rem;
	position: relative;
}
.CloseBtn {
	position: absolute;
	top: 5px;
	left: 5px;
}
.CloseBtn img {
	position: relative;
	width: 2vw;
	min-width: 20px;
}
.pen_image {
	position: absolute;
	right: 5px;
	top: 5px;
}
.pen_image img {
	position: relative;
	width: 8vw;
	min-width: 100px;
}
.CloseBtn:hover {
	transform: translateY(-3px);
	transition: transform 300ms ease-in-out;
}
.modalBody h2 {
	margin: 1rem 0 0 0;
}
.modalBody form {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#modal_task_textarea {
	min-height: 100px;
	width: 80%;
}
#modal_task_textarea,
#modal_task_submit {
	padding: 0.5rem 1rem;
	border-radius: 4px;
	margin: 0.5rem 1rem;
	border: none;
	font-size: 1rem;
}
#modal_task_submit {
	background-color: #489cff;
}
#modal_task_submit:hover {
	transform: translateY(-3px);
	transition: transform 300ms linear;
	cursor: pointer;
}

@media screen and (max-width: 720px) {
	.modalContainer {
		min-height: 60%;
		width: 80%;
	}
}

@media screen and (min-width: 1440px) {
	.CloseBtn img {
		width: 2vw;
	}
}
