.container {
	background-image: linear-gradient(315deg, #74ebd5 0%, #9face6 100%);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
}
.container img {
	width: 50vw;
	max-height: 90vh;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.body {
	width: 75%;
	height: 80vh;
	background-color: rgba(255, 255, 255, 0.3);
	color: black;
	border-radius: 12px;
	text-align: center;
	overflow-y: auto;
	/* Shadow for different browsers */
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.44);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.44);
	box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.44);
	z-index: 10;
	position: relative;
}
.body h1 {
	margin: 0;
	padding: 0.8rem 0 1.2rem 0;
}
.add_task {
	position: absolute;
	right: 2vw;
	bottom: 1.5vw;
}
.list_items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 4px 8px;
	padding: 0 2rem;
	border-radius: 4px;
}
#task_input,
#task_submit,
button {
	padding: 0.5rem 1rem;
	border-radius: 4px;
	margin: 0 1rem;
	border: none;
	font-size: 0.9rem;
}
#task_submit {
	background-color: #489cff;
}
.list_items div:hover,
button:hover,
#task_submit:hover {
	transform: translateY(-3px);
	transition: all 0.3s linear;
	cursor: pointer;
}
.list_items .checked {
	text-decoration: line-through;
	opacity: 0.8;
}
.list_items div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3vw;
	min-width: 30px;
	padding: 0.5rem 1rem;
	text-align: center;
}
.list_items h4 {
	/* margin: 0; */
}
button {
	background-color: transparent;
	font-weight: 600;
	outline: 2px solid #489cff;
}
button:hover {
	background-color: #fff;
}
.active {
	outline: none;
}
.error {
	outline: 2px solid #d01f31 !important;
}

@media screen and (max-width: 480px) {
	.body {
		width: 100%;
		height: 100vh;
		border-radius: 0px;
	}
	.list_items {
		padding: 0;
	}
	.container img {
		width: 100vw;
	}
	#task_input,
	#task_submit,
	button {
		padding: 0.4rem 0.8rem;
		margin: 0.1rem 0.2rem;
	}
}
@media screen and (min-width: 1440px) {
	html {
		font-size: 1.2vw;
	}
}
